{% if item.value.fastd.peers[ansible_fqdn] is defined %}
bind any:{{ item.value.fastd.peers[ansible_fqdn].port }} default ipv4;
{% endif %}
include "secret.conf";
interface "{{ item.value.fastd.interface }}";
log level info;
mode tap;
method "salsa2012+umac";
peer limit {{ item.value.fastd.limit }};
hide mac addresses yes;
mtu {{ item.value.fastd.mtu }};
secure handshakes yes;
#log to syslog level verbose;
log to syslog level warn;

{% if item.value.fastd.mac[ansible_hostname] is defined %}
on up "
        ip link set address {{ item.value.fastd.mac[ansible_hostname]  }} dev {{ item.value.fastd.interface }}
        ip link set up {{ item.value.fastd.interface }}
        batctl -m {{ item.value.batman.interface }} if add $INTERFACE
        ip link set address {{ item.value.batman.mac[ansible_hostname] }} dev {{ item.value.batman.interface }}
        ip link set up dev {{ item.value.batman.interface }}
        brctl addif {{ item.value.bridge }} {{ item.value.batman.interface }}
        batctl -m {{ item.value.batman.interface }} it 5000
        batctl -m {{ item.value.batman.interface }} bl 0
        batctl -m {{ item.value.batman.interface }} gw server 48mbit/48mbit
        batctl -m {{ item.value.batman.interface }} vm server
";

on verify "/etc/fastd/{{ item.key }}/blacklist.sh $PEER_KEY";
{% endif %}

{% for peer in item.value.fastd.peers %}
  {% if peer == ansible_fqdn %}
# no fastd connection to {{ peer }} (myself)
	{% else %}

peer "{{ peer }}" {
  key "{{ item.value.fastd.peers[peer].key }}";
  remote "{{ peer }}" port {{ item.value.fastd.peers[peer].port }};
}

  {% endif %}
{% endfor %}
