$ORIGIN ffnef.de.
$TTL 1h

@				IN      SOA     vserver-0 nic (
                                  2016021902    ; Serial
                                       10800    ; Refresh
                                        3600    ; Retry
                                      604800    ; Expire
                                       40000 )  ; Negative Cache TTL

				IN      NS      ns2.afraid.org.
				IN      NS      puck.nether.net.
				IN		A		5.45.103.213
				IN		MX		10 vserver-0

vserver-0		IN		A		5.45.103.213
*				IN		CNAME	vserver-0

neander-1		IN		A		151.80.11.200
neander-2		IN		A		51.255.150.69
neander-3		IN		A		151.80.11.203


ntp				IN		CNAME	0.freifunk.pool.ntp.org.

map				IN		CNAME	karte.ffdus.de.
karte			IN		CNAME	karte.ffdus.de.
