{
  "00caffeeba00": {
    "firstseen": "2016-02-02T17:49:18.252Z",
    "nodeinfo": {
      "owner": {
        "contact": "kontakt@freifunk-wuppertal.net"
      },
      "node_id": "00caffeeba00",
      "network": {
        "mac": "00:ca:ff:ee:ba:00",
        "mesh_interfaces": [
          "00:ca:ff:ee:ba:00",
          "02:ca:ff:ee:ba:00"
        ],
        "addresses": [
          "10.155.0.240"
        ],
        "mesh": {
          "bat0": {
            "interfaces": {
              "tunnel": [
                "00:ca:ff:ee:ba:00"
              ],
              "other": [
                "02:ca:ff:ee:ba:00"
              ]
            }
          }
        }
      },
      "hostname": "w0.ffdus",
      "hardware": {
        "model": "esxi",
        "nproc": 1
      },
      "software": {
        "batman-adv": {
          "compat": 15,
          "version": "2015.1"
        },
        "fastd": {
          "enabled": true
        },
        "autoupdater": {
          "enabled": false
        },
        "firmware": {
          "base": "debian",
          "release": ""
        }
      },
      "system": {
        "site_code": "ffdus"
      }
    },
    "neighbours": {
      "batadv": {
        "00:ca:ff:ee:ba:00": {},
        "02:ca:ff:ee:ba:00": {
          "02:ca:ff:ee:ba:10": {},
          "02:ca:ff:ee:ba:20": {},
          "02:ca:ff:ee:ba:30": {},
          "02:ca:ff:ee:ba:40": {},
          "02:ca:ff:ee:ba:50": {},
          "02:ca:ff:ee:ba:60": {}
        }
      }
    }
  },
}
