{% for config in fastdHosts[ansible_hostname].configs %}
authoritative;
subnet {{ sites['ffnef-' + config.name].prefix4 | regex_replace('/[0-9]+','') }}
netmask {{ verboseNetmask[(config.batman.ip4 | regex_replace('[0-9.]+/','') | int)] }} {
        range {{ meshDhcp[ansible_hostname].range }};
        default-lease-time 300;
        max-lease-time 600;
        option domain-name-servers {{ sites['ffnef-' + config.name].prefix4 | regex_replace('\.0/.+$',) }}.255, 8.8.8.8, 141.1.1.1;
        option routers {{ config.batman.ip4 | regex_replace('/[0-9]+','') }};
        interface {{ config.bridge }};
}

{% endfor %}
