authoritative;

{% for site in sites %}
subnet {{ sites[site].network4 }} netmask {{ sites[site].netmask4 }} {
        range {{ sites[site].dhcp.range[ansible_hostname]['from'] }} {{ sites[site].dhcp.range[ansible_hostname]['to'] }};
        default-lease-time 300;
        max-lease-time 600;
        option domain-name-servers {{ sites[site].next_node4 }}, 8.8.8.8, 141.1.1.1;
        option routers {{ sites[site].supernodeAddr4[ansible_hostname] }};
        interface {{ sites[site].bridge }};
}

{% endfor %}
