{% for site in sites %}
auto {{ sites[site].bridge }}
iface {{ sites[site].bridge }} inet static
        address {{ sites[site].supernodeAddr4[ansible_hostname] }}
    	netmask {{ sites[site].prefixlen4 }}
        # non-existance only gives warning
        bridge_ports {{ sites[site].batman.interface }}
        bridge_stp no
        post-up ip route add {{ sites[site].compressed4 }} dev $IFACE table 42
        post-up /etc/init.d/isc-dhcp-server status; if [ "$?" -eq 3 ]; then /etc/init.d/isc-dhcp-server start;fi

iface {{ sites[site].bridge }} inet6 static
        address {{ sites[site].supernodeAddr6[ansible_hostname] }}
    	netmask {{ sites[site].prefixlen6 }}
        post-up ip -6 route add {{ sites[site].compressed6 }} dev $IFACE table 42

{% endfor %}

auto tun-ffrl-uplink
iface tun-ffrl-uplink inet static
        address {{ grePublicIP[ansible_hostname].ip4 }}/32
        pre-up ip link add $IFACE type dummy || true
        post-down ip link del $IFACE type dummy || true
        post-up ip addr add {{ grePublicIP[ansible_hostname].ip6 }}/56 dev $IFACE 
