auto br0
iface br0 inet static
        address {{ fastdHosts[ansible_hostname].configs[0].batman.ip4 }}
        # non-existance only gives warning
        bridge_ports bat0
        bridge_stp no
        post-up ip route add {{ sites['ffnef-met'].prefix4 }} dev $IFACE table 42
        post-up /etc/init.d/isc-dhcp-server status; if [ "$?" -eq 3 ]; then /etc/init.d/isc-dhcp-server start;fi

iface br0 inet6 static
        address {{ fastdHosts[ansible_hostname].configs[0].batman.ip6 }}
        post-up ip -6 route add {{ sites['ffnef-met'].prefix6 }} dev $IFACE table 42

auto tun-ffrl-uplink
iface tun-ffrl-uplink inet static
        address {{ grePublicIP[ansible_hostname].ip4 }}/32
        pre-up ip link add $IFACE type dummy || true
        post-down ip link del $IFACE type dummy || true
        post-up ip addr add {{ grePublicIP[ansible_hostname].ip6 }}/56 dev $IFACE 
