{% for config in fastdHosts[ansible_hostname].configs %}
interface {{ config.bridge }}
{
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MinRtrAdvInterval 3;
        MaxRtrAdvInterval 10;
        prefix {{ sites['ffnef-' + config.name].prefix6 }}
        {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr off;
        };
        RDNSS {{ config.batman.ip6 | regex_replace('/[0-9]+','') }}
        {
        };
};

{% endfor %}
