{% for site in own_sites %}
interface {{ sites[site].bridge }}
{
        AdvSendAdvert on;
        IgnoreIfMissing on;
        MinRtrAdvInterval 3;
        MaxRtrAdvInterval 10;
        prefix {{ sites[site].compressed6 }}
        {
                AdvOnLink on;
                AdvAutonomous on;
                AdvRouterAddr off;
        };
        RDNSS {{ sites[site].supernodeAddr6[ansible_hostname] }}
        {
        };
};

{% endfor %}
